package main

const serverKey = `-----BEGIN EC PARAMETERS-----

-----END EC PARAMETERS-----
-----BEGIN EC PRIVATE KEY-----

-----END EC PRIVATE KEY-----
`
const rootCert = `-----BEGIN CERTIFICATE-----

-----END CERTIFICATE-----
`